* {
    margin: 0;
    padding: 0;
}

.table {
    border-spacing: 0;
    border: 22px solid #3a4965;
}

.odd {
    background-color: #f2f2f2;
}

.even {
    background-color: #e3e3e3;
}

.first{
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, .5);
}

.shadow {
    box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, .5);
}

.header-cell {
    width: 310px;
    height: 156px;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    text-transform: uppercase;
    background-color: #fafafa;
}

.header-cell span {
    font-size: 22px;
}

.cell-1 {
    height: 70px;
    width: 277px;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}

.cell-2 {
    padding-left: 50px;
    height: 84px;
    position: relative;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: rgba(72, 72, 72, 255);
    text-align: left;
    background-color: #fafafa;
}

.cell-3 {
    width: 277px;
    height: 69px;
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(72, 72, 72, 255);
}

.cell-3 i {
    font-size: 15px;
    margin-right: 8px;
    color: #848484;
}

.btn {
    margin: 32px auto 29px;
    padding-top: 16px;
    width: 192px;
    height: 49px;
    display: block;
    position: relative;
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.8s ease;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .8), rgba(0, 0, 0, .1));
    z-index: 1;
    transition: transform 0.5s ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
}

.btn:hover::before {
    transform: scaleY(1);
}

.contacts-btn {
    background-color: #484848;
    border-bottom: 10px solid #404040;
}

.first-btn {
    background-color: #89c331;
    border-bottom: 10px solid #79b027;
}

.second-btn {
    background-color: #f04a56;
    border-bottom: 10px solid #df3a46;
}

.third-btn {
    background-color: #20807c;
    border-bottom: 10px solid #16736f;
}

.standard {
    background-color: #89c331;
}

.ultimate {
    background-color: #f04a56;
}

.premium {
    background-color: #20807c;
}

.price {
    display: inline-block;
}

.other {
    display: inline-block;
    font-size: 18px;
    position: absolute;
    top: 23px;
    left: 135px;
}

.other span {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

